.overlay__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-top: 45px;  
    max-width: 1440px;
    height: 834px;
    margin: 0 auto;
    background-color: var(--Car-bx);
    color: var(--W-tx);
    box-shadow: -2px 3px 5px 4px rgba(0, 0, 0, 0.25);
}

.overlay_img{
    height: 100%;
    width: 50%;
    z-index: 5px;
}

.overlay_text {
    text-align: left;
    width:50%;
    height:341px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
}