.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 755px;

  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #f4f4f4;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c4c4c4;
  opacity: 60%;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #f4f4f4;
  opacity: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide-right-text {
  padding: 32px;
  box-shadow: -2px 3px 5px 4px rgba(0, 0, 0, 0.25);
  background-color: #202020;
  position: relative;
  top: -10px;
  left: -10px;
  height: 487px;
}

.title-slid {
  color: #f4f4f4;
  text-align: left;
}

p.p-tag-slid-date {
  color: #f4f4f4;
  margin: 16px 0px 16px 0px;
  text-align: left;
  font-weight: lighter;
}

.p-tag-slid {
  color: #f4f4f4;
  margin: 16px 0px 16px 0px;
  text-align: left;
}

.card-slid {
  display: flex;
  width: 760px;
  height: 466px;
}

.c-a-btn-slide {
  border: solid 2px #e08f5b;
  padding: 16px;
  color: #e08f5b;
  font-size: 20px;
  background-color: #202020;
  margin-top: 32px;
  text-align: left;
  margin-right: 170px;
}

.c-a-btn-slide:hover {
  border: solid 2px #e08f5b;
  padding: 16px;
  color: #202020;
  font-size: 20px;
  background-color: #e08f5b;
  margin-top: 32px;
  transition: color 0.3s ease;
  transition: 0.5s ease;
}

.c-a-btn {
  border: solid 2px #e08f5b;
  padding: 16px;
  color: #e08f5b;
  font-size: 20px;
  background-color: #202020;
  margin-top: 32px;
  text-align: left;
  margin-right: 170px;
}

.c-a-btn:hover {
  border: solid 2px #e08f5b;
  padding: 16px;
  color: #202020;
  font-size: 20px;
  background-color: #e08f5b;
  margin-top: 32px;
  transition: color 0.3s ease;
  transition: 0.5s ease;
}

.container-size {
  height: 240px;
}

.container {
  margin: 40px auto;
}

.img-size-slider {
  width: 430px;
}

.slide-img {
  object-fit: cover;
}

.dots-man {
  text-align: center;
  margin-top: 16px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 375px) {
  .card-slid {
    display: block;
    width: 100%;
    height: 400px;
  }
  .img-size-slider {
    width: 100%;
  }

  .dots-man {
    text-align: center;
    margin-top: -171px;
  }

  .slide-right-text {
    top: 0px;
    left: 0px;
    height: 341px;
  }

  .c-a-btn-slide {
    border: solid 2px #e08f5b;
    padding: 16px;
    color: #e08f5b;
    font-size: 20px;
    background-color: #202020;
    margin-top: 16px;
    text-align: left;
    margin-right: 200px;
  }

  .c-a-btn {
    border: solid 2px #e08f5b;
    padding: 16px;
    color: #e08f5b;
    font-size: 20px;
    background-color: #202020;
    margin-top: 32px;
    text-align: left;
    margin-right: 0px;
    width: 140px;
  }

  .c-a-btn:hover {
    border: solid 2px #e08f5b;
    padding: 16px;
    color: #202020;
    font-size: 20px;
    background-color: #e08f5b;
    margin-top: 32px;
    transition: color 0.3s ease;
    transition: 0.5s ease;
  }

  .height-fix {
    height: 370px;
  }
}

@media (max-width: 768px) {
  .card-fix-height {
    margin-top: 500px;
    color: red;
  }
}
