@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 18.75px;
}

@media screen and (min-width: 500px) {
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 21.09px;
    }
}

.centeredtext {
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.802rem;
    font-weight: 400;
    line-height: 38.43px;
}

@media screen and (min-width: 500px) {
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3.052rem;
        font-weight: 400;
        line-height: 73.32px;
    }
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.602rem;
    font-weight: 400;
    line-height: 34,16px;
    padding-top: 70px;

}

@media screen and (min-width: 500px) {
    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 2.441rem;
        font-weight: 400;
        line-height: 58.65px;
    }
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.424rem;
    font-weight: 400;
    line-height: 30.37px
}

@media screen and (min-width: 500px) {
    h3 {
        font-family: 'Playfair Display', serif;
        font-size: 1.953rem;
        font-weight: 400;
        line-height: 58.65px;
    } 
}


.undertext {
    font-size: 0.889rem;
}

@media screen and (min-width: 500px) {
    .undertext {
        font-size: 0.8rem;
    }
}

.menu__font {
    font-size: 24px;
}

@media screen and (min-width: 500px) {
    .menu__font {
        font-size: 20px;
    }
}

.footer__text--small {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.889rem;
    text-align: left;
}

.footer__text--small--opacity {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.889rem;
    opacity: 50%;
    text-align: left;
}

@media screen and (min-width: 500px) {
    .footer__text--small {
        font-size: 1rem;
    }
}

.footer__text--small--underline--opacity {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.889rem;
    text-decoration-line: underline;
    opacity: 50%;
    text-align: left;
}

.footer__text--small--opacity {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.889rem;
    opacity: 50%;
}

.footer__text--big {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;

}

@media screen and (min-width: 500px) {
    .footer__text--big {
        font-size: 20px;

    }
}

